 @use'variaveis';

    
.hero {
    display: grid;
    /* Divide a tela: 55% para o conteúdo, 45% para as imagens */
    grid-template-columns: 1fr 1fr ;
    min-height: 100vh; /* Ocupa a altura inteira da tela */
    background-image: url(../images/hero.png); /* <-- CAMINHO CORRIGIDO AQUI */
    padding: 2vw 5.6vw;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1px;
    
     &__content {
        text-align: left;
        
        h1 {
            font-family: 'Cinzel', serif;
            font-size: 4rem;
            text-shadow: 2px 2px 8px #000;
            color: variaveis.$text-color;
        }
    
        h2 {
            color: variaveis.$text-color;
        }
    }

}


