$bg-primary: #040714;
$text-color: #f9f9f9;
$text-color-muted: #cba013;
// Cores da seção "Shows"
$background-color: #1a1a1a;
$button-background: #007bff;
$button-text-color: #ffffff;
$button-hover-background: #0056b3;
$button-hover-text-color: #ffffff;
$button-active-background: #004085;
$button-active-text-color: #ffffff;
$button-active-border: #002752;
$card-background: #2b2b2b;
$card-title-color: #e0e0e0;

// Outras variáveis usadas em main.scss
$bg-primary: #121214;
$border-radius: 8px;